ORTWS Experiments Data/SaaS/SaaS WSDL/temporaryCWSDL/CombinedWSDL7213863265877255477.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://saas/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://saas/" name="dirService">
<types>
<xsd:schema>
<xsd:import namespace="http://saas/" schemaLocation="http://localhost:41582/Saas_3/dirService?xsd=1"/>
</xsd:schema>
</types>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="Searching">
<part name="parameters" element="tns:Searching"/>
</message>
<message name="readingFile">
<part name="parameters" element="tns:readingFile"/>
</message>
<message name="editFile">
<part name="parameters" element="tns:editFile"/>
</message>
<message name="editResponse">
<part name="parameters" element="tns:editResponse"/>
</message>
<message name="SearchingResponse">
<part name="parameters" element="tns:SearchingResponse"/>
</message>
<message name="readingFileResponse">
<part name="parameters" element="tns:readingFileResponse"/>
</message>
<message name="editFileResponse">
<part name="parameters" element="tns:editFileResponse"/>
</message>

<portType name="dir">
<operation name="edit">
<input wsam:Action="http://saas/dir/editRequest" message="tns:edit"/>
<output wsam:Action="http://saas/dir/editResponse" message="tns:editResponse"/>
</operation>
<operation name="Searching">
<input wsam:Action="http://saas/dir/SearchingRequest" message="tns:Searching"/>
<output wsam:Action="http://saas/dir/SearchingResponse" message="tns:SearchingResponse"/>
</operation>
<operation name="readingFile">
<input wsam:Action="http://saas/dir/readingFileRequest" message="tns:readingFile"/>
<output wsam:Action="http://saas/dir/readingFileResponse" message="tns:readingFileResponse"/>
</operation>
<operation name="editFile">
<input wsam:Action="http://saas/dir/editFileRequest" message="tns:editFile"/>
<output wsam:Action="http://saas/dir/editFileResponse" message="tns:editFileResponse"/>
</operation>
</portType>
<binding name="dirPortBinding" type="tns:dir">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Searching">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readingFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="dirService">
<port name="dirPort" binding="tns:dirPortBinding">
<soap:address location="http://localhost:41582/Saas_3/dirService"/>
</port>
</service>
</definitions>